## Final Project Submission

Please fill out:
* Student name: Russell Blanchard
* Student pace: full time
* Scheduled project review date/time: 1/27/23
* Instructor name: Angelica Spratley
* Blog post URL:

In [2]:
# Your code here - remember to use markdown cells for comments as well!

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from matplotlib.pyplot import figure
import warnings
import glob
import zipfile
warnings.filterwarnings('ignore')

In [4]:
collaborators_df = pd.read_csv('collaborators 2.csv')

In [7]:
all_genres_and_budgets_df = pd.read_csv('all_genres_vs_budgets 2.csv')

In [8]:
master_joined_df = collaborators_df.join(all_genres_and_budgets_df, how ='outer')

In [9]:
master_joined_df

,movie_id,primary_title,start_year,genres,person_id,category,job,primary_name,primary_profession,movie,production_budget,worldwide_gross,release_month,release_year_x,genre_ids
0,tt0066787,One Day Before the Rainy Season,2019,"Biography,Drama",nm0045119,actress,NaN,Aruna Irani,"actress,producer,director",Star Wars: The Last Jedi,317000000.0,1.316722e+09,12.0,2017.0,"[14, 12, 878, 28]"
1,tt0066787,One Day Before the Rainy Season,2019,"Biography,Drama",nm0451809,actor,NaN,Arun Khopkar,"director,actor,assistant_director",Avengers: Infinity War,300000000.0,2.048134e+09,4.0,2018.0,"[12, 28, 14]"
2,tt0066787,One Day Before the Rainy Season,2019,"Biography,Drama",nm0754829,actress,NaN,Rekha Sabnis,"actress,assistant_director",Justice League,300000000.0,6.559452e+08,11.0,2017.0,"[28, 12, 14, 878]"
3,tt0066787,One Day Before the Rainy Season,2019,"Biography,Drama",nm0794511,actor,NaN,Om Shivpuri,actor,Solo: A Star Wars Story,275000000.0,3.931513e+08,5.0,2018.0,"[28, 12, 878]"
4,tt0066787,One Day Before the Rainy Season,2019,"Biography,Drama",nm0002411,director,NaN,Mani Kaul,"director,writer,actor",Captain America: Civil War,250000000.0,1.140069e+09,5.0,2016.0,"[12, 28, 878]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298485,tt9916428,The Secret of China,2019,"Adventure,History,War",nm0910951,director,NaN,Jixing Wang,"director,writer",NaN,NaN,NaN,NaN,NaN,NaN
298486,tt9916538,Kuambil Lagi Hatiku,2019,Drama,nm10041459,actor,NaN,Sahil Shah,actor,NaN,NaN,NaN,NaN,NaN,NaN
298487,tt9916538,Kuambil Lagi Hatiku,2019,Drama,nm4843252,writer,script writer,Arief Ash Siddiq,"writer,actor",NaN,NaN,NaN,NaN,NaN,NaN
298488,tt9916538,Kuambil Lagi Hatiku,2019,Drama,nm4900525,writer,script writer,Rino Sarjono,"writer,producer,actor",NaN,NaN,NaN,NaN,NaN,NaN
298489,tt9916538,Kuambil Lagi Hatiku,2019,Drama,nm1290982,producer,producer,M. Abduh Aziz,producer,NaN,NaN,NaN,NaN,NaN,NaN